---
layout: default
title: Opdrachten
permalink: /opdrachten/
---

<ul class="opdrachten-list">
  {% assign sorted_opdrachten = site.opdrachten | sort: "order" %}
  {% for opdracht in sorted_opdrachten %}
  <li>
    <a href="{{ opdracht.url }}" class="opdracht-link">
      <h2>{{ opdracht.title }}</h2>
      <span class="period">{{ opdracht.period }}</span>
    </a>
    {% if opdracht.summary %}
    <p class="opdracht-summary">{{ opdracht.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
